<?xml version='1.0' encoding='utf-8'?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" label="Openbox 3">
    <item label="Run Program">
      <action name="Execute">
        <execute>gmrun</execute>
      </action>
    </item>
    <separator />
    <item label="Terminal">
      <action name="Execute">
        <execute>terminator</execute>
      </action>
    </item>
    <item label="Web Browser">
      <action name="Execute">
        <execute>vivaldi</execute>
      </action>
    </item>
    <item label="File Manager">
      <action name="Execute">
        <execute>terminator -e ranger</execute>
      </action>
    </item>
    <item label="Task Manager">
      <action name="Execute">
        <execute>terminator -e htop</execute>
      </action>
    </item>
    <item label="Disk Manager">
      <action name="Execute">
        <execute>gnome-disks</execute>
      </action>
    </item>
    <separator />
    <item label="Power Manager">
      <action name="Execute">
        <execute>xfce4-power-manager -c</execute>
      </action>
    </item>
    <item label="Display Manager">
      <action name="Execute">
        <execute>arandr</execute>
      </action>
    </item>
    <item label="Volume Manager">
      <action name="Execute">
        <execute>pavucontrol</execute>
      </action>
    </item>
    <item label="Network Manager">
      <action name="Execute">
        <execute>nm-connection-editor</execute>
      </action>
    </item>
    <item label="Bluetooth Manager">
      <action name="Execute">
        <execute>blueman-manager</execute>
      </action>
    </item>
    <separator />
    <menu id="settings" label="Settings">
      <item label="Reconfigure Openbox">
        <action name="Reconfigure" />
      </item>
      <item label="Restart Conky">
        <action name="Execute">
          <execute>conkywonky</execute>
        </action>
      </item>
      <item label="Restart tint2">
        <action name="Execute">
          <execute>tint2restart</execute>
        </action>
      </item>
    </menu>
    <separator />
    <item label="Lock Screen">
      <action name="Execute">
        <execute>xscreensaver-command -lock</execute>
      </action>
    </item>
    <item label="Exit Openbox">
      <action name="Execute">
        <execute>openbox --exit</execute>
      </action>
    </item>
    <item label="Reboot">
      <action name="Execute">
        <execute>systemctl reboot</execute>
      </action>
    </item>
    <item label="Shutdown">
      <action name="Execute">
        <execute>systemctl poweroff</execute>
      </action>
    </item>
  </menu>
</openbox_menu>
